<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartPlug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B2A12B7BF5E89B1EB4547FFBDB6589D9A7598BC8</string>
				<key>dateExpires</key>
				<string>2018/9/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6AJP77DB44.cc.SmartPlug</string>
				<key>com.apple.developer.homekit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6AJP77DB44</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SmartPlug.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c1bbd01-c5fd-480e-8837-5d04b53cf4ec</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: cc.SmartPlug</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6AJP77DB44</string>
				<key>name</key>
				<string>InterFocus Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
